<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aicte_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aicte"
        android:label="AICTE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aicte_App">
        <activity
            android:name=".GrantAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LogInAdmin"
            android:exported="false" />
        <activity
            android:name=".EntrepreneurActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".RulesAndRegulationsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnApprovedCollegeActivity"
            android:exported="false" />
        <activity
            android:name=".InitiativesActivity"
            android:exported="false" />
        <activity
            android:name=".StatActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Aicte_App.NoActionBar" />
        <activity
            android:name=".UserResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserCredentialActivity"
            android:exported="false" />
        <activity
            android:name=".UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".UserLogInActivity"
            android:exported="false" />
        <activity
            android:name=".SearchCollegesActivity"
            android:exported="false" />
        <activity
            android:name=".SchemesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>